.navbar {
    grid-area: navbar;
    background-color:  #ff9900;
    max-height: 90px;
    
}

.logo {
    display: grid;
    grid-template-columns: auto 1fr;
}

.pumpkin {
    margin: 5px 15px;
    width: 80px;
}

.website-title {
    margin: auto 2px;
    padding-left: 5px;

}